*{ 
  margin: 0;
  padding: 0;
  border: 0;

}

.main-page{
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 10;
  padding: 0;
  
}

.single-tab{
  display: flex;
  align-items:center;
  justify-content: center;
  margin: 0;
  padding: 0;
  line-height: 25px;
  
  
}
.right-tab{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 margin: 0;
 padding: 0;
}

.left-tab{
   margin-right: 20px;
   width: 30px;
   height: 50px;
   

}
.vote{
  background-color: blueviolet;
  width: 30px;
   height: 50px;
   color: white;
   border-radius: 10px;
   
}