*{ 
  margin: 0;
  padding: 0;
  border: 0;
  --radial-gradient: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #e84d70 0%, #a337f6 53.09%, #28a7ed 100%);
  
}
.board{
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-board{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 2160px;
  margin-top: 80px;
  margin-right: 20px;
  margin-bottom: auto; 
}

.gradient-column{
  display: flex;
  background: var(--radial-gradient);
  color: white;
  flex-direction: column;
  width: 220px;
  height: 70px;
  border-radius: 10px;
  padding: 62px 24px 24px;
}

.main-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: auto;
}

.tabs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 700px;
  background-color: white;
  border-radius: 10px;
  background-color: #f7f8fd;
  
}

.single-tab{
  display: flex;
  align-items:center;
  justify-content: flex-start;
   width: 700px;
   height: 150px;
   margin-bottom: 20px;
   background-color: white;
  
  
}
.right-tab{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 margin-top: 30px;
 margin-left: 40px;
 line-height: 26px;
}


.left-tab{
  margin-left: 10px;
   width: 30px;
   height: 50px;
   

}
.vote{
  background-color: #4661e6;
   width: 40px;
   height: 60px;
   color: white;
   border-radius: 10px;
   
}
.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom:auto ;
}

.header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
   height: 70px;
   width: 700px;
   background-color: #373f68;
   border-radius: 10px;
   margin-bottom: 20px;
   margin-top: 30px;
   
}
.sortby{
 color: white;

}
.options{
  background-color: #373f68;
  color: white;
  border: none;
   margin-left: 20px;
}


.Add-feedback{
  color: white;
  background-color: #ad1fea;
  width: 150px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  margin-left: 240px;
}

.suggestions-count{
  margin-left: 10px;
  color: white;
  font-style: bold;
  font-weight: 400;
  margin-right: 10px;
}

.navlink{
  font-size: 20px;
  font-weight: 900;
  color: #3a4374;
  text-decoration: none;

}

.description{
  color: #647196;
  font-weight: 500;
  font-size: medium;
}

.category{
  color: #4661e6;
  background-color: #f2f4ff;
  font-size: medium;
  border-radius: 10px;
  font-weight: 550;
  padding: 6px 16px;
}
.filter-button{
  color: #4661e6;
  background-color: #f2f4ff;
  font-size: medium;
  border-radius: 10px;
  font-weight: 550;
  padding: 6px 16px;
  margin:2px;
  
}


.board{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.Add-feedback{
  text-decoration: none;
  
}
.filter-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  background-color:white;
  width: 270px;
  height: 200px;
  gap: 10px;
}
.roadmap{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
  width: 270px;
  height: 100px;
  border:2px solid
}
.roadmap-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  border: 2px solid;
  margin-bottom: 24px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #3a4374;
}
.view{
  font: x-small;
}

.planned-dot{
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: black;

}

.plans-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  border: 2px solid;
  justify-content: space-between;
  
}