*{ 
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #f7f8fd;
  --radial-gradient: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #e84d70 0%, #a337f6 53.09%, #28a7ed 100%);
  
}
.board{
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-board{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 2160px;
  margin-top: 80px;
  margin-right: 20px;
  margin-bottom: auto; 
}

.gradient-column{
  font-size: 1.25rem;
  line-height: 29px;
  letter-spacing: -0.25px;
  display: flex;
  background: var(--radial-gradient);
  color: white;
  flex-direction: column;
  width: 235px;
  height: 70px;
  border-radius: 10px;
  padding: 62px 24px 24px;
}

.main-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: auto;
}

.tabs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 815px;
  background-color: white;
  border-radius: 10px;
  background-color: #f7f8fd;
  
}
.addfeedback-img{
  margin-top: -126px;
  margin-left: -493px;
}

.title{
  background-color: white;
  width: 400px;
}
.description{
  background-color: white;
}
.category{
  background-color: white;
}

.single-tab{
  border-radius: 10px;
  display: flex;
  align-items:center;
  justify-content: flex-start;
   width: 815px;
   height: 150px;
   margin-bottom: 20px;
   background-color: white;
  
}
.right-tab{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 margin-top: 30px;
 margin-left: 40px;
 line-height: 26px;
 background-color: white;
}
.roadmap-tab{
  display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 margin-top: 30px;
 line-height: 26px;
 background-color: white;
 overflow: hidden;
 padding-left: 20px;
 padding-right: 10px;
}

.left-tab{
  margin-left: 30px;
   width: 30px;
   height: 50px;
  border-radius: 10px;  

}
.vote{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: #4661e6;
   width: 40px;
   height: 60px;
   color: white;
   border-radius: 10px;
  font-weight: 600;
   
}
.didntVote{
  color: #3a4374;
  background-color: #f2f4ff;;
  width: 40px;
  height: 60px;
  border-radius: 10px;
  font-weight: 600;
}
.didntVote:hover{
background-color:#cfd7ff; 
color: #3a4374;

}

.home-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom:auto ;
}

.header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
   height: 70px;
   width: 815px;
   background-color: #373f68;
   border-radius: 10px;
   margin-bottom: 20px;
   margin-top: 30px;
   
}
.sortby{
 color: white;

}
.options{
  background-color: #373f68;
  color: white;
  border: none;
  margin-left: 3px;
  font-weight: 700;

}
option{
  background-color: black;
}

.Add-feedback{
  background-color: #ad1fea;
  width: 150px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  margin-left: 220px;
}
.suggestions{
  background-color: transparent;
  margin-left: 5px;
}
.icon{
  background-color: transparent;
  margin-right: 13px;
}
.icon-sugg{
  background-color: transparent;
}
.suggestions-count{
  margin-left: 30px;
  color: white;
  font-style: bold;
  font-size: large;
  font-weight: 900;
  margin-right: 30px;
  font-family: "Jost", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlink{
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 800;
  color: #3a4374;
  text-decoration: none;
  background-color: white;

}
.navlink:hover{
  color: blue;
}
.description{
  color: #647196;
  font-weight: 500;
  font-size: medium;
  margin-bottom: 10px;
  padding-right: 10px;
}

.category{
  color: #4661e6;
  background-color: #f2f4ff;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 550;
  padding: 2px 16px;
}
.filter-button{
  color: #4661e6;
  background-color: #f2f4ff;
  font-size: 14px;
  border-radius: 10px;
  font-weight: 550;
  padding: 6px 16px;
  margin:2px;
  
}
.filter-button:hover{
  color: #4661e6; 
  background-color:#cfd7ff; 
}

.board{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.Add-feedback{
  text-decoration: none;
  
}
.buttons-background{
  background-color: white;
}

.filter-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  background-color:white;
  width: 270px;
  height: 200px;
  gap: 10px;
}
.roadmap{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
  width: 240px;
  height: 183px;
  padding: 24px;
  border-radius: 10px;
  background-color: white;
}
.roadmap-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 250px;
  margin-bottom: 24px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #3a4374;
}
.view{
  font: x-small;
  text-decoration: none;
  color: #3a4374;

}

.planned-dot{
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: orange;

}
.inprogress-dot{
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: purple;

}
.purple-live{
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: blue;
  
}
.live-dot{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.plans-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  border: 2px solid;
  justify-content: space-between;
  background-color: white;
  
}



.addfeedback-form{
  border-radius: 10px;
  margin: 50px auto;
 height: 117vh;
 width: 550px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 10px;
 color: white;
 padding: 0px 42px 42px;
 background-color: white;
}
.feedback-slip{
  background-color:white;

}

.createfeedback{
  font-size: 1.5rem;
  font-family: "Jost", sans-serif;
  line-height: 35px;
  color: #3a4374;
  margin: 24px 0 40px;
  background-color: transparent;
}

.title-description{
  margin-bottom: 24px;
  color: #3a4374;
  background-color: white;
}
.GoBack{
  text-decoration: none;
}

.category-section{
  color: #3a4374;
  background-color: white;
  margin-bottom: 24px;
}

.feedback-detail{
  margin-bottom: 24px;
  color: #3a4374;
  background-color: transparent;
  
}
input{
 width: 500px;
 height: 20px;
 padding: 13px 24px;
 border-radius: 5px;
}

.categoryoptions{
  width: 547px;
  padding: 13px 24px;
  border-radius: 5px;
}

.feedback-title{
  font-weight: 700;
  background-color: white;

}

.cat{
  font-weight: 700;
  background-color: white;

}
.FD{
  font-weight: 700;
  margin: 2px 0 16px;
  background-color: white;
}

.feedback-description{
  color: #647196;
  margin: 2px 0 16px;
  background-color: white;

}
.chooseACat{
  color: #647196;
  margin: 2px 0 16px;
  background-color: white;

}
.FD-desc{
  color: #647196;
  margin: 2px 0 16px;
  background-color: white;
 
}

.feedbackdescription{
  padding: 16px 24px 20px;
  height: 80px;

}

.addFeedback-button{
  background-color: #ad1fea;
  padding: 10px 5px;
  border-radius: 5px;
  font-weight: 700;
   letter-spacing: 1px;
  color: white;
  width: 140px;
  height: 45px;
  
}
.abc{
  border: 2px solid white;
  background-color: red;
}
.bcad{
  border: 2px solid white;

  background-color: white;
}

.comment-section{
  
  width: 749px;
  border-radius: 10px;
  padding: 28px 32px;
  background-color: white;
}

.comment-page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.line{
  height: 0px;
  width: 725px;
  border: 1px solid lightgrey;
  margin-top: 40px;
}
.ReplyInput{
  height: 50px;
  padding: 16px 24px 20px;color: var(--grey-darker);
  margin-right: 10px;
  outline: 2px solid blue;
}

.Post-Reply{
   padding: 12px  24px;
   color: white;
   background-color: #ad1fea;
   border-radius: 10px;
   height: 50px;
}
.seperate-comment{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 745px;
  padding: 24px 32px 32px;
  margin-top: 25px;
  margin-bottom: 50px;
  border-radius: 10px;
}
.AddComment{
  margin-bottom: 24px;
  background-color: white;
}
.input-comment{
  width: 700px;
  height: 60px;
}
.post-comment{
  color: white;
  padding:12px 24px;
  height: 45px;
  width: 165px;
  background-color:#ad1fea;
  border-radius: 10px;
  font-weight: 600;
  margin-top: 15px;
  margin-left: 585px;
  
}
.upvote-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arrow-up{
  color: #000;
  background-color: transparent;
}
.vote-count{
  background-color: transparent;
  margin-top: 5px;
  padding-top: 3px;
}

.nameReply{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: white;
}
.reply-name{
  background-color: white;
}
.reply-username{
  background-color: white;

}

.reply-to-username{
  color: #ad1fea;
  font-size: 14px;
  font-weight: 700;
  font-family: "Jost", sans-serif;
  margin-right: 5px;
  background-color: white;
}
.reply-to-content{
  margin-top: 20px;
  background-color: white;
}
.all-the-replies{
  background-color: white;
}
.replies{
  color: #647196;;
  background-color: white;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.username-content{
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 5px;
  background-color: white;
}
.Reply{
  color: #4661e6;
  font-weight: 600;
  font-size: 0.813rem;
  background-color: white;
}
.replyNbutton{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
}
.name{
  line-height: 13px;
  color:#3a4374;
  letter-spacing: -0.2px;
  background-color: white;
}
.username{
  line-height: 13px;
  color: #647196;
  background-color: white;
}
small{
  background-color: white;
}
.name-username{
  background-color: white;
}
.content{
 color:  #647196;
 background-color: white;
 line-height: 22px;
}

.hr{
  color: black;
}

.filter-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
}
.suggestions-count{
  background-color: transparent;
}

.sortby{
  background-color: transparent;
}
.FM{
 font-family: "Jost", sans-serif;
  background-color: transparent;
  font-size: 20px;
  letter-spacing: -0.25px;
}
.FB{
  background-color: transparent;
}
.AddFeedBackText{
  text-decoration: none;
  background-color: #ad1fea;
  color: whitesmoke;
}

.amarta{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  margin-bottom: 24px;
  background-color: white;
}


.pro-pic{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.editfeedback-slip{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 549px;
   margin-left: auto;
   margin-right: auto;
  margin-top: 190px;
  margin-bottom: 190px;

  gap: 20px;
  padding: 0 42px 42px;
  border-radius: 10px;font-family: "Jost", sans-serif;
  background-color: white;
  font-weight: 700;
  color: #3a4374;
  font-size: 0.875rem;
}
.EF-heading{
  font-size: 1.5rem;
  line-height: 35px;
  margin-bottom: 75px;
  letter-spacing: -0.33px;
  font-weight: bold;
  background-color: white;
}
.editfeedback-category{
  background-color: white;
}

.editfeedbackpage-buttons{
  width: 550px;
  display: flex;
  justify-content: space-between;
}

.editfeedback-description{
  font-weight: 100;
  font-size: .875rem;
  color: #647196;;
  margin: 5px 0 16px;
  background-color: white;
}
.editfeedback-title{
  background-color: white;
}
.feature-options{
  width: 547px;
  padding: 13px 24px;
  border-radius: 5px;
}
.editfeedback-updateStatus{
  background-color: white;
}
.editfeedback-img{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70px;
  height: 70px;
  background-color: transparent;
  margin-top: -38px;
}
.delete{
  background-color: #d73737;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  width: 100px;
  height: 50px;
}
.cancel{
  background-color: #3a4374;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  width: 100px;
  height: 50px;
  margin-right: 10px;

}
.save-changes{
  background-color: #ad1fea;;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  width: 130px;
  height: 50px;
}

.ef-titledescription{
  background-color: white;
}
.ef-detail-description{
  background-color: white;
}
 
.gobackandeditfeedback{
  display: flex;
  justify-content: space-between;
}
                          
.efb{
  text-decoration: none;
  background-color: #4661e6;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  width: 170px;
  height: 50px;
}
.comm-length{
  background-color: white;
  font-weight: bold;
  font-size: large;
}
.commentImg{
  margin-left: 200px;
  background-color: white;
}
h3{
  background-color: white;
}
.comment-size{
  display: flex;
  justify-content:right;
  align-items: center;
  gap: 5px;
  margin-left:auto;
  margin-right: 35px;
  background-color: white;
}

.roadmap-categories{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 1000px;
  margin-left: 210px;
  margin-top: 60px;
}
.roadmap-single-tab{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: flex-start;
  width: 400px;
  height: 300px;
  margin-bottom: 20px;
  margin-left: 20px;
  background-color: white;
  overflow: hidden;
}

.lower-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-top: 20px;
  width: 370px;
  padding-left: 9px;
}

.roadmap-left-tab{
  margin-left: 10px;
  width: 30px;
  height: 50px;
  background-color: white;
}
.roadmap-comment-size{
  display: flex;
  justify-content:right;
  align-items: center;
  gap: 5px;
  margin-left:auto;
  margin-right: 35px;
  background-color: white;
}
.roadmap-cmnt-img{
  background-color: white;
}
.roadmap-didnt-vote{
  color: #3a4374;
  background-color: #f2f4ff;;
  width: 70px;
  height: 40px;
  border-radius: 10px;
  font-weight: 600;
}
.roadmap-vote{
  color: white;
  background-color: #4661e6;
  width: 70px;
  height: 40px;
  border-radius: 10px;
  font-weight: 600;
}
.roadmap-didnt-vote:hover{
  background-color:#cfd7ff; 
  color: #3a4374;
  
  }
.roadmap-line{
  width: 100%;
  height: 7px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: purple;
}
.planned{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  width: 100%;
  height: 7px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f49f85;

}
.In-progress{
  width: 100%;
  height: 7px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ad1fea;
}
.live{
  width: 100%;
  height: 7px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #62bcfa;

}
.road-category{
  background-color: white;
  color: grey;
  font-size: medium;
  margin-bottom: 10px;
  margin-left: 10px;
}
.road-dot{
  width: 8px;
  height: 8px;
  background-color:red;
  border-radius: 50%;
  margin-top: 10px;

}
.dot-cat{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
}
.road-cat-title{
  margin-left: 30px;
  margin-bottom: 30px;
}
.roadmap-head{
  font-size: large;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  margin-bottom: 10px;
}
.road-detail{
  color: grey;
}
.RoadMap-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 1250px;
  height: 30px;
  background-color: #373f68;
  margin-left: 90px;
  margin-right: 190px;
  margin-top: 50px;
  border-radius: 10px;
  font-size: 25px;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}
.road{
  background-color: transparent;
  color: white;
  font-family: sans-serif;
  font-weight: 700;
}